<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iAssassins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B61284DC1BD23870003DBC67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61284F01BD23871003DBC67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61284FB1BD23871003DBC67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
